#body{
    width: auto;
    height: auto;
    padding: 4px;
    background-color: white;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: black;
    text-align: center;
}

.loterias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px;
    list-style-type: none;
}

.maismilionaria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #2E3078;
    font-size: 18px;
    color: white;
}

.megasena {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #209869;
    font-size: 18px;
    color: white;
}

.lotofacil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #930989;
    font-size: 18px;
    color: white;
}

.quina {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #260085;
    font-size: 18px;
    color: white;
}

.lotomania {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #F78100;
    font-size: 18px;
    color: white;
}

.timemania {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #FFF600;
    font-size: 18px;
    color: white;
}

.duplasena {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color:#BF194E;
    font-size: 18px;
    color: white;
}

.federal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #0081BA;
    font-size: 18px;
    color: white;
}

.diadesorte {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #D3B315;
    font-size: 18px;
    color: white;
}

.supersete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: #A8CF45;
    font-size: 18px;
    color: white;
}

.dezenas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px;
    margin: auto;
    max-width: 900px;
}

.dezena {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    min-width: 96px;
    min-height: 96px;
    border-radius: 50%;
    background-color: #0066B3;
    font-size: 36px;
    color: white;
}